.background {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
}

.centeredContainer {
    position: absolute;
    left: 50%;
    top: 50%;
    align-items: center;
    text-align: center;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.lateralContainer {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 1;
}