* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

.background {
  width: 100vh;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #ccc;

  filter: brightness(0.7) contrast(1.1)
}

p,
h1,
h2,
h3,
strong,
span {
  color: white;
}