.weatherTop {
    display: flex;
    vertical-align: center;
    text-align: center;
    gap: 20px;
    width: 100%;
    justify-content: center;
}

.weatherTop h1 {
    font-size: 45px;
    font-weight: lighter;
}

.weatherCard {
    text-align: center;
    border: 3px solid white;
    border-radius: 15px;
    padding: 10px;
}